{{<base}}
    {{$content}}
        <div class="container">
            <h2>Welcome, {{username}}!</h2>
            <p>Select an option:</p>
            <ul>
                <li><a href="/classes">Classes</a></li>
                <li><a href="/equipment">Equipment</a></li>
                <li><a href="/routines">Routines</a></li>
                <li><a href="/trainers">Trainers</a></li>
            </ul>
        </div>
    {{/content}}
{{/base}}
